@tailwind base;
@tailwind components;
@tailwind utilities;

import "leaflet/dist/leaflet.css";

body {
  @apply bg-gray-100 text-gray-900;
}
#map {
  width: 100%;
  height: 500px; /* or ~6in to fit letter-sized layout */
  border: 1px solid var(--gsc-light-gray);
  border-radius: 8px;
  margin-top: 1rem;
}
